* {
    margin: 0px;
    padding: 0px;
   
   } 
   body{
       text-align: center;
    }
    .navbar{
       
        background-color: black;
        margin-bottom: 2%;
        padding:1%;
   
    }
   .navbar ul {

    display: inline;
    padding: 20px;
    margin-left: 5%;
       
   }
   .nav ul li{
       display: inline;
   }
   .navbar ul li img{
       height: 50px;
       width: 50px;
       display: inline;
       padding: 10px;
    }

    nav a{
        background-color: rgba(255, 255, 255, 0.8);ng: 20px;
        color:white;
        font-weight: bold;
        text-decoration: none;
    }

    header{
        height: 1000px;
      
        background-image: url("./public/images/concierto.jpg");
       
    }

    #container{
        display: grid;
        grid-template-columns: auto auto auto;
    grid-gap: 10px;
    
    padding: 10px;
    text-decoration: none;
    }
    #container > div {
        
        text-align: center;
        padding: 20px 0;
        font-size: 30px;
      
      }
     
    main article section div div img{
        height:10em;
    }
    
    button{
        margin: 1px solid ;
        background-color: orange;
        height: 50px;
        width: 500px;
        border-radius: 10px;
    }

    .pie{
        display: grid;
        grid-template-columns: auto auto auto;
    grid-gap: 10px;
    background-color: black;
    padding: 10px;
    text-decoration: none;
  }
  .pie > div {
    background-color: gray;
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
  }
    #art2{
        background-image: url("./public/images/contacus.jpg");
        color: white;
        height: 1000px;
    }

   